<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.canteen.mapper.SimCustomerMapper">
    <delete id="deleteBySimulationId">
        DELETE FROM sim_customer WHERE simulation_id=#{simId}
    </delete>
    <delete id="deleteBySimId">
        DELETE FROM sim_customer WHERE simulation_id=#{simId}
    </delete>
    <insert id="batchInsert">
        INSERT INTO sim_customer (simulation_id,id,group_id,group_size,simulated_dish_prep_seconds,simulated_eat_time_seconds,arrive_time,order_type,state,dish_prep_end_time,start_waiting_for_seat_time,eat_end_time,seat_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{simId},#{item.id},#{item.groupId},#{item.groupSize},#{item.simulatedDishPrepSeconds},#{item.simulatedEatTimeSeconds},#{item.arriveTime},#{item.orderType},#{item.state},#{item.dishPrepEndTime},#{item.startWaitingForSeatTime},#{item.eatEndTime},#{item.seatId})
        </foreach>
    </insert>
    <select id="selectBySimulationId" resultType="com.sim.canteen.entity.CustomerEntity">
        SELECT id,group_id AS groupId,group_size AS groupSize,simulated_dish_prep_seconds AS simulatedDishPrepSeconds,simulated_eat_time_seconds AS simulatedEatTimeSeconds,arrive_time AS arriveTime,order_type AS orderType,state,
               dish_prep_end_time AS dishPrepEndTime,start_waiting_for_seat_time AS startWaitingForSeatTime,eat_end_time AS eatEndTime,seat_id AS seatId
        FROM sim_customer WHERE simulation_id=#{simId}
    </select>
</mapper>